@-moz-document url-prefix(http://forums.hummingbird.me/), url-prefix(https://forums.hummingbird.me/) {
	html, body {
		font-family: 'Lato' !important;
		background-color: #E0E0E0 !important;
	}
	body input, body button, body select, body textarea {
		font-family: 'Lato' !important;
	}
	#main-outlet {
		background-color: #E0E0E0 !important;
	}
	#poster-expansion .bio {
		max-height: none;
	}
	.d-dropdown {
		margin-top: 4px;
		right: -3px;
	}
	#site-map-dropdown {
		height: auto;
	}
	.d-dropdown li {
		padding: 2px;
	}
	.d-dropdown li:not(.category):not(.heading) a:hover {
		background-color: #F5F5F5 !important;
	}
	#site-map-dropdown.d-dropdown .heading a:hover {
		background-color: transparent;
	}
	#user-dropdown.d-dropdown li:not(.category):not(.heading) a:hover {
		background-color: #F5F5F5 !important;
	}
	.category-dropdown-menu {
		max-height: none;
	}
	.list-controls .category-dropdown-menu a.badge-category {
		margin-bottom: initial;
	}
	.embedded-posts .topic-avatar {
		margin: 0px;
	}
	.embedded-posts .topic-avatar .avatar {
		width: 45px;
		height: 45px;
	}
	.embedded-posts .topic-meta-data h5 {
		left: auto;
	}
	section.ember-view.embedded-posts.top.topic-body.offset2 {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.embedded-posts .topic-body {
		padding-left: 0px;
		width: 87%;
	}
	.embedded-posts .topic-body p iframe {
		margin-top: 1em;
	}
	.embedded-posts .quote {
		margin-top: 1em !important;
	}
	.embedded-posts .row {
		padding-top: 0px;
	}
	.embedded-posts a.lightbox {
		max-width: 87%;
	}
	.embedded-posts a.lightbox img {
		height: auto;
		width: 100% !important;
	}
	.embedded-posts a.lightbox .meta {
		bottom: auto;
		margin-top: -29px;
	}
	.embedded-posts img:not(.thumbnail):not(.emoji):not(.avatar) {
	    max-height: 500px;
	    width: auto;
	    height: auto;
	    max-width: 100%;
	}
	.dropdown-menu li a div span:nth-of-type(2) {
		display: none;
	}
	.dropdown-menu {
		width: auto;
		min-width: initial;
		padding: initial !important;
		margin-top: -2px;
	}
	.dropdown-menu a {
		padding: 10px !important;
	}
	ol.category-breadcrumb {
		margin-top: 5px;
	}
	.list-controls .btn {
		margin-top: 5px;
	}
	.user-main .user-stream .item {
		padding: 20px 15px 15px 20px;
	}
	.profile-navigation .inline-list .nav-link > a.active {
		color: #EC8661;
		border-bottom: 1px solid #EC8661;
	}
	.profile-navigation .inline-list .nav-link > a {
		font-family: 'Lato';
		padding: 13px 20px;
	}
	.profile-navigation .inline-list .nav-link > a:hover {
		color: #EC8661;
	}
	.extra-info-wrapper .star {
		top: initial;
	}
	.extra-info-wrapper a.topic-link {
		margin-top: -3px;
	}
	.d-header .title {
		height: auto;
	}
	.logo-small {
		margin-top: 3px;
	}
	div.container.posts {
		padding-bottom: 30px !important;
	}

	.follow-button {
		border: none;
		border-radius: 2px;
		background-color: #F89774;
		color: white;
	}
	.follow-button:hover {
		background-color: #F67A4D;
	}
	#topic-list th {
		text-align: center;
	}
	#topic-progress .bg {
	    border-right: 1px solid transparent;
	}

	.cooked a:first-child img {
		margin-top: 1em;
	}
	.cooked p a:first-child img {
		margin-top: 0em;
	}
	.cooked a.lightbox img {
		margin-top: 0em;
	}
	.cooked p iframe:first-child {
		margin-top: 0em;
	}
	.cooked iframe:first-child {
		margin-top: 1em;
	}
	.cooked div.lazyYT:first-child {
		margin-top: 1em;
	}
	.cooked div.lazyYT iframe {
		margin-top: 0em;
	}
	.cooked .onebox:first-child {
		margin-top: 1em;
	}

	.embedded-posts .reply .topic-body a:nth-child(2) img:not(.avatar) {
		margin-top: 1em;
	}
	.embedded-posts .reply .topic-body iframe:nth-child(2) {
		margin-top: 1em;
	}

	a.mention {
		background: none !important;
		color: #EC8661;	
	}
	.meta {
		font-size: 12px;
	}
	.meta .informations {
		color: #FFF;
		font-size: 12px;
		margin: 5px;
	}
	.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
		width: auto;
	}
	.mfp-close {
		width: auto;
		height: auto;
	}
	#post-cloak-1 #post_1 .topic-avatar {
		border-top: none;
	}
	#post-cloak-1 #post_1 .topic-body {
		border-top: none;
	}

	a, video, audio {
		outline: 0;
	}
	input::-moz-focus-inner { 
		border: 0;
	}
	.wmd-button {
		font-family: FontAwesome !important;
	}
	.control-group.pref-avatar {
		display: none;
	}
	.control-group.pref-password {
		display: none;
	}
	#notifications-dropdown.d-dropdown li a:hover {
		background-color: transparent !important;
	}
	.hb-nav .nav > li > .dropdown-menu {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.nav-stacked .active > a,
	.nav-stacked .active .fa-chevron-right {
		background-color: #F89774;
	}
	.user-preferences #pagedown-editor {
		width: auto;
	}
	body #pagedown-editor {
		width: auto;
		border: none;
		padding: unset;
	}

	.nav-stacked > li > a:hover {
		background-color: #AAAAAA;
		color: #FFF;
	}
	.nav-stacked > li > a:hover,
	.nav-stacked > li > a:hover .fa-chevron-right {
		background-color: #AAAAAA;
		color: #FFF;
	}
	.nav-stacked .active > a:hover,
	.nav-stacked .active > a:hover .fa-chevron-right {
	    color: #FFF;
	    background-color: #F89774;
	}
	.btn-danger {
		background-color: #F89774;
	}
	.btn-danger:hover {
		background-color: #F67A4D;
	}

	.user-cover {
		background-image: none;
	}
	.gutter {
		float: right;
		padding-right: 5px;
	}
	.lazyYT-title {
		background-color: rgba(0,0,0,0.8);
		padding: 8px 0px 8px 12px !important;
		margin-left: -12px !important;
		width: 468px;
		margin-top: -10px !important;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#poster-expansion h3 {
		overflow: hidden;
	    white-space: pre;
	    text-overflow: ellipsis;
	}
	.category-notification-menu .dropdown-menu {
		top: 37px;
		right: -1px;
	}
	.dropdown-menu {
		border-radius: 0px;
		border: none;
	}
	.user-main .about {
	    background-color: transparent;
	}

	img {
		color: transparent;
		background-color: transparent;
	}
	.moderator .topic-body {
		background-color: transparent;
	}
	.ember-view.topic-post.moderator {
		background-color: #FFF9C4;
	}
	.user-main .user-stream .item.moderator-action {
	    background-color: #FFF9C4;
	}

	.user-cover {
		height: auto;
		margin-top: -63px;
		background-repeat: no-repeat;
	}

	.nav-pills > li > a {
		border-radius: 0px;
	}
	td .badge-category[href] {
		border-radius: 0px;
	}
	td .badge-category-parent {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	.badge-notification.new-posts,
	.badge-notification.unread-posts {
		border-radius: 0px;
		padding: 3px;
		margin-left: 3px;
	}
	.badge-notification,
	.badge-group {
		border-radius: 0px;
	}
	.badge-notification.new-posts {
		background-color: #6CF;
	}

	a.badge-category {
	    color: #FFF !important;
	}
	a.badge-category.home {
		color: #222 !important;
	}
	body #wmd-input {
		resize: vertical;
	}
	.profile-navigation .inline-list .nav-link {
		padding-bottom: 14px;
	}
}

@-moz-document url-prefix(http://hummingbird.me/), url-prefix(https://hummingbird.me/) {
	html, body {
		font-family: 'Lato' !important;
		background-color: #E0E0E0 !important;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Lato' !important;
	}
	.update-panel li a.remove-post {
		color: #999999 !important;
	}
	.update-panel li a.remove-post:hover {
		color: #EC8661 !important;
	}
	.hb-nav .searchbar .search-field {
		margin-left: 20px;
		border: none;
	}
	.quick-update .watched-series .overlay-panel {
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
	}
	.quick-update .series-title {
		white-space: normal;
	}
	.quick-update .series-slider .fa-angle-left {
		left: -30px;
	}
	.quick-update .series-slider .fa-angle-right {
		right: -30px;
	}
	.quick-update .series-slider .arrow-nav {
		color: transparent;
	}
	.quick-update .series-slider .arrow-nav.inactive {
		color: transparent;
	}
	.responsive-image {
		border-radius: 4px;
	}
	.genre-tab .badge {
		font-family: 'Lato';
	}
	.top-buttons .top-button {
		font-family: 'Lato';
	}
	.hb-nav .dropdown {
		font-family: 'Lato';
	}
	#recent-toggle {
		font-family: 'Lato';
	}
	.dropdown-menu {
		min-width: initial;
		margin: initial;
		border: none;
		padding: 0px;
	}
	.panel-divider {
		font-family: 'Lato';
	}
	.library-filter {
		font-family: 'Lato';
	}
	.library-dropdown .personal-notes {
		height: 45px;
		min-height: 45px;
		resize: vertical;
	}
	.library-search {
		height: auto;
		font-family: 'Lato';
	}
	.profile-navigation .inline-list .nav-link,
	.profile-navigation .update-panel .genre-list .nav-link,
	.update-panel .profile-navigation .genre-list .nav-link {
		float: left;
	}
	.profile-navigation .inline-list .nav-link a:before,
	.profile-navigation .update-panel .genre-list .nav-link a:before,
	.update-panel .profile-navigation .genre-list .nav-link a:before {
		content: unset;
	}
	.profile-navigation .inline-list .nav-link .active,
	.profile-navigation .update-panel .genre-list .nav-link .active,
	.update-panel .profile-navigation .genre-list .nav-link .active {
		border-bottom: 1px solid #EC8661;
	}
	.profile-navigation .inline-list .nav-link > a,
	.profile-navigation .update-panel .genre-list .nav-link > a,
	.update-panel .profile-navigation .genre-list .nav-link > a {
		padding: 11px 20px;
		font-family: 'Lato';
	}
	.anime-breakdown-panel .breakdown-genrelist li span {
		font-family: 'Lato';
	}
	a:focus {
		text-decoration: none !important;
	}
	.review-content .youtube-frame .youtube-background {
		background: none;
	}
	.review-content .youtube-frame iframe {
		max-width: initial;
		border-radius: initial;
		border: none;
	}
	.review-listing .reviewer-name .subtext {
		display: none;
	}
	.review-breakdown {
		margin-bottom: 30px;
	}
	.review-content {
		font-size: initial;
	}
	.back-to-anime {
		left: -15px;
		margin-top: 30px;
	}
	.bg-image-wrapper.series {
		opacity: 0.2;
		background-position: 50% 0px !important;
	}

	.modal-dialog {
		margin: 10% auto;
	}
	.modal-content {
		border-radius: 3px;
		background-color: rgba(0, 0, 0, 0.2);
		border: none;
		box-shadow: none;
	}
	.modal-body {
		padding: 5px 5px 0px 5px;
	}
	.modal-body iframe {
		width: 100%;
	}

	.hb-nav .notification-dropdown .user-info small {
		font-family: 'Lato';
	}
	.upload-cover {
		font-family: 'Lato';
		font-size: 12px !important;
	}
	.user-cover-options .upload-cover:hover {
		color: #F89774;
		border-color: #F89774;
	}

	.hb-nav .user-area .dropdown-menu li a:hover {
		color: #EC8661 !important;
	}
	.hb-nav .notification-dropdown li a:hover {
		color: inherit !important;
		background-color: #F5F5F5;
	}
	.hb-nav .notification-dropdown li:last-child a {
		background-color: initial;
	}
	.hb-nav .notification-dropdown li:last-child a:hover {
		color: #EC8661 !important;
		background-color: initial;
	}
	.hummingbird-header-1 .notification-block .single-notification {
		font-family: 'Lato';
	}

	.library-table {
		width: 100%;
	}
	#library-sections {
		padding-bottom: 0px;
	}
	.profile-navigation {
		margin-bottom: 0px;
	}
	.min-height-wrapper div.container:nth-child(4) {
		padding-bottom: 30px;
	}

	.community-widget-panel .panel-body .latest-post-list .latest-post:hover,
	.community-widget-panel .update-panel .latest-post-list .latest-post:hover {
		background-color: #FAFAFA;
	}
	.community-widget-panel .panel-body .latest-post-list .latest-post-title a:hover,
	.community-widget-panel .update-panel .latest-post-list .latest-post-title a:hover {
		color: #424242;
	}

	.info-tabs {
		padding-left: 0px;
		padding-right: 0px;
	}
	.review-listing {
		padding-left: 0px;
		padding-right: 0px;
	}

	.reader-actions .reader-vote .recommend a.active,
	.reader-actions .reader-vote .recommend a:hover {
		color: #2baf2b;
		border-color: #2baf2b;
	}
	.reader-actions .reader-vote .dislike a.active,
	.reader-actions .reader-vote .dislike a:hover {
		color: #e84e40;
		border-color: #e84e40;
	}

	.follow-button {
		background-color: #F89774 !important;
		color: #FFF !important;
		font-family: 'Lato';
	}
	.follow-button:hover {
		background-color: #F67A4D !important;
	}
	.series-content .btn-primary {
		background-color: #F89774;
		border: none;
	}
	.series-content .btn-primary:hover {
		background-color: #F67A4D;
		border: none;
	}
	.review-breakdown .score-block .score,
	.review-breakdown .score-block .decimal-score {
		text-shadow: 2px 4px 6px #A94831;
	}

	.search-dropdown {
		border-radius: 0px !important;
		width: 390px !important;
		margin-left: 0px;
		margin-top: 0px;
		max-width: 400px !important;
	}
	.search-dropdown .search-result {
		width: 390px !important;
		max-width: 400px !important;
	}
	.search-dropdown .search-result a {
		padding-right: 20px !important;
		padding-left: 20px !important;
	}
	input.search-field:focus {
		margin-top: 14px !important;
		width: 350px !important;
		max-width: 400px !important;
	}

	.search-container-head {
		display: none;
	}
	.search-container .search-container-body {
		border-radius: 5px;
	}

	div.feed-head-advert {
		display: none;
	}
	div.feed-sm-sidebar-advert {
		display: none;
	}
	div.feed-sidebar-advert {
		display: none;
	}
	div.anime-page-advert {
		display: none;
	}

	.quick-update .overlay-panel .series-title a {
		color: #FFF;
	}
	.quick-update .overlay-panel .series-title a:hover {
		color: #FFF;
	}
	.panel, .community-widget-panel, .story, .user-about-panel, .anime-breakdown-panel,
	.photos-videos, .favorite-anime, .status-update-panel, .follow-panel {
		border-radius: 3px;
	}
	.min-height-wrapper .container:first-of-type {
		padding-top: 10px;
	}
	.profile-content {
		margin-top: 15px;
	}
	.library-container {
		padding-top: 15px;
	}
	.series-reviews {
		padding-bottom: 30px;
	}
	.series-gallery {
		padding-bottom: 30px;
	}
	.series-reviews .review-listing a:last-child .review {
		border-bottom: 1px solid transparent;
	}
	.reader-actions .reader-vote .recommend a,
	.reader-actions .reader-vote .dislike a {
		border-color: #333;
	}
	.series-header .middle-column .info-tabs .slider .character,
	.series-header .middle-column .info-tabs .slider .voice-actor {
		background-color: transparent;
	}
	.series-header .middle-column .info-tabs .slider .actor:before {
		content: none;
	}
	.series-header .middle-column .info-tabs .tab-pane .rounded-block.franchise-show:nth-last-of-type(4) {
		border: none;
		margin-bottom: 0px;
	}
	.series-header .middle-column .info-tabs .nav-tabs li > a {
		font-family: 'Lato';
	}
	.user-feed .story .comment-replies .view-more a {
		color: #999999;
	}
	.user-feed .story .comment-replies .view-more a:hover {
		color: #EC8661;
	}
	.panel-heading .edit-panel a {
		color: #999999;
	}
	.panel-heading .edit-panel a:hover {
		color: #EC8661;
	}
	.feed-events .single-event .event-info p a {
		color: #333333;
		font-weight: 700;
	}
	.feed-events .single-event .event-info p a:hover {
		color: #333333;
		font-weight: 700;
	}
	.series-header .middle-column .info-tabs .tab-pane .slider .rounded-block:last-of-type {
		border: none;
		margin-bottom: 0px;
	}
	.series-header .middle-column .info-tabs .slider .btn,
	.series-header .middle-column .info-tabs .slider .right-column .top-buttons .top-button,
	.series-header .right-column .top-buttons .middle-column .info-tabs .slider .top-button {
		margin-bottom: 0px;
	}
	.series-reviews .review-listing .review-summary {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.inline-list li,
	.update-panel .genre-list li {
		padding-right: 0px;
	}
	.library-dropdown .genres li:after {
		padding: 0px 3px;
	}
	.list-group-item .list-item-right .list-item-type,
	.library-filter .list-item-right .list-item-type {
		width: 50px;
	}
	.list-group-item .list-item-right .list-item-score,
	.library-filter .list-item-right .list-item-score {
		min-width: 90px;
	}
	.list-group-item .list-item-left span.anime-label span.label,
	.library-filter .list-item-left span.anime-label span.label {
		display: inline;
	}
	img {
		color: transparent;
		background-color: transparent;
	}
	.follow-bubbles li .user-bubble {
		min-height: 69px;
	}
	.update-panel .view-more {
		margin-left: 25%;
	}
	.update-panel .comment-text {
		max-height: none;
	}
	.series-header .middle-column .info-tabs .nav-tabs li.active > a {
		border-bottom: 1px solid transparent;
	}
	.series-header .middle-column .info-tabs .nav-tabs li.active > a:hover {
		border-bottom: 1px solid transparent;
	}
	.series-header {
		overflow: visible;
	}

	.series-header .condensed .right-column {
		padding-right: 0px;
		padding-left: 0px;
	}
	.info-tabs .dropdown-menu > li:last-of-type > a:hover {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	.info-tabs .dropdown-menu > li > a {
		padding: 7px 15px !important;
	}
	.info-tabs .dropdown-menu > li > a:hover {
		border: none !important;
	}
	.hb-nav .dropdown-menu a {
		padding: 10px 15px !important;
	}
	.series-header .middle-column .info-tabs .slider .badge:hover {
		background-color: #EC8661;
	}
	.badge {
		font-size: 0.8em;
	}
	.series-header .right-column .top-buttons .top-button {
		font-family: 'Lato';
	}
	.series-header .right-column .top-buttons .btn-group.open .dropdown-menu li:last-child a:hover {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	#recent-toggle {
		letter-spacing: 0.5px;
	}
	.series-header .middle-column .info-tabs .slider .cast {
		overflow: visible;
	}
	.series-header .middle-column .synopsis {
		font-size: 16px;
		margin-top: 10px;
	}

	.hb-nav .notification-dropdown .user-avatar img {
		width: 150%;
	}
	.hb-nav .notification-dropdown .user-info {
		padding-right: 0px;
		padding-left: 22px;
	}

	.rating-column:hover .rating-value {
		background-color: #EC8661;
	}
	.min-height-wrapper .container:first-of-type {
		padding-bottom: 20px;
	}
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v10/1bHRUMxmJHoup12DnI9XmQ.woff) format('woff');
	text-rendering: optimizeLegibility !important;
}