/*Applies only to Discourse forums*/
@-moz-document url-prefix(http://forums.hummingbird.me/) {
	/*Lato 1.0 hosted by Google*/
	/*@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
	}*/
	/*Lato 2.0*/
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(http://a.pomf.se/qhucai.woff) format('woff');
		text-rendering: optimizeLegibility !important;
	}
	html, body {
		font-family: 'Lato' !important;
		background-color: #E0E0E0 !important;
	}
	body input, body button, body select, body textarea {
		font-family: 'Lato' !important;
	}
	#main-outlet {
		background-color: #E0E0E0 !important;	/*changes actual bg colour*/
	}
	#poster-expansion .bio {
		max-height: none;	/*fixes bio height*/
	}
	.d-dropdown {
		margin-top: 4px;
		right: -3px;
	}
	#site-map-dropdown {
		height: auto;
	}
	.d-dropdown li {
		padding: 2px;	/*minimal padding*/
	}
	.d-dropdown li:not(.category):not(.heading) a:hover {
		background-color: #F5F5F5 !important;	/*replaces yellow highlight with grey*/
		/*still buggy*/
	}
	#site-map-dropdown.d-dropdown .heading a:hover {
		background-color: transparent;
	}
	#user-dropdown.d-dropdown li:not(.category):not(.heading) a:hover {
		background-color: #F5F5F5 !important;
	}
	.category-dropdown-menu {
		max-height: none;		/*makes whole category list visible*/
	}
	.list-controls .category-dropdown-menu a.badge-category {
		margin-bottom: initial;
	}
	.embedded-posts .topic-avatar {
		margin: 0px;		/*a recent update breaks embedded posts*/
	}
	.embedded-posts .topic-avatar .avatar {
		width: 45px;		/*resizes avatar in embedded posts*/
		height: 45px;
	}
	.embedded-posts .topic-meta-data h5 {
		left: auto;
	}
	section.ember-view.embedded-posts.top.topic-body.offset2 {
		padding-top: 0px !important;		/*removes unneeded padding*/
		padding-bottom: 0px !important;
	}
	.embedded-posts .topic-body {
		padding-left: 0px;		/*removes padding*/
		width: 87%;			/*should fill the empty space*/
	}
	.embedded-posts .topic-body p iframe {
		margin-top: 1em;
	}
	.embedded-posts .quote {
		margin-top: 1em !important;
	}
	.embedded-posts .row {
		padding-top: 0px;
	}
	.embedded-posts a.lightbox {
		max-width: 87%;
	}
	.embedded-posts a.lightbox img {
		height: auto;
	}
	.embedded-posts p img:not(.emoji) {
		width: auto;
	    height: auto;		/*images were being stretched*/
	    max-width: 100%;		/*and they were overflowing*/
	}
	.embedded-posts .spoiler img:not(.emoji) {
	    max-width: 100%;		/*same as above*/
	}
	.embedded-posts a img:not(.emoji) {
	    height: auto;
	    max-width: 100%;
	}
	.discourse-no-touch .post-cloak .post-actions {
		transition: opacity 0.1s linear 0s;		/*speed up transitions on post actions*/
	}
	nav.post-controls button {
		transition: all 0.1s linear 0s;		/*same as above*/
	}
	.dropdown-menu li a div span:nth-of-type(2) {
		display: none;		/*hides unecessary description of topic tracking option*/
	}
	.dropdown-menu {		/*reformatted topic tracking dropdown*/
		width: auto;
		min-width: initial;
		padding: initial !important;
		margin-top: -2px;
	}
	.dropdown-menu a {
		padding: 10px !important;
	}
	ol.category-breadcrumb {
		margin-top: 5px;		/*centers category list dropdown*/
	}
	.list-controls .btn {
		margin-top: 5px;		/*centers create topic button*/
	}
	/*fixed*/
	/*.user-cover {
		height: auto;
		margin-top: -63px;
		background-repeat: no-repeat;
	}*/
	.user-main .user-stream .item {
		padding: 20px 15px 15px 20px;		/*fix padding in the activity feed*/
	}
	.profile-navigation .inline-list .nav-link > a.active {
		color: #EC8661;		/*create consistent active tab across profiles*/
		border-bottom: 1px solid #EC8661;
	}
	.profile-navigation .inline-list .nav-link > a {
		font-family: 'Lato';
		padding: 13px 20px;		/*fixed padding on tabs*/
	}
	.profile-navigation .inline-list .nav-link > a:hover {
		color: #EC8661		/*changed hover colour*/
	}
	.extra-info-wrapper .star {
		top: initial;		/*fix star position*/
	}
	.extra-info-wrapper .topic-link {
		/*color: #C8C8C8 !important;*/	/*tried to change colour of "Loading topic..."*/
		/*display: inline-block;*/
	}
	.extra-info-wrapper a.topic-link {
		margin-top: -3px;	/*centered topic name*/
	}
	.d-header .title {
		height: auto;
	}
	.logo-small {
		margin-top: 3px;	/*centered small home icon*/
	}
	div.container.posts {
		padding-bottom: 30px !important;	/*adds some space to the bottom of all pages*/
	}
	/*
	follow 			#F89774
	follow hover 	#F67A4D
	unfollow 		#999999
	unfollow hover 	#737373
	*/
	.follow-button {
		border: none;
		border-radius: 2px;
		background-color: #F89774;
		color: white;
	}
	.follow-button:hover {
		background-color: #F67A4D;
	}
	#topic-list th {
		text-align: center;
	}
	#topic-progress .bg {
	    border-right: 1px solid transparent;		/*hide divider*/
	}

	/*fix img and iframe spacing start*/
	/*p elements are already spaced, but the content inside them are not*/
	/*.cooked p img:not(.emoji) {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.cooked p a img {
		margin-top: 1em;
		margin-bottom: 1em;
	}*/
	.cooked a:first-child img {
		margin-top: 1em;
	}
	/*.cooked p img:first-child {
		margin-top: 0em;
	}
	.cooked p img:last-child {
		margin-bottom: 0em;
	}*/
	.cooked p a:first-child img {
		margin-top: 0em;
	}
	/*.cooked p a:last-child img {
		margin-bottom: 0em;
	}*/
	.cooked a.lightbox img {
		margin-top: 0em;
	}
	/*.cooked p iframe {
		margin-top: 1em;
		margin-bottom: 1em;
	}*/
	.cooked p iframe:first-child {
		margin-top: 0em;
	}
	/*.cooked p iframe:last-child {
		margin-bottom: 0em;
	}*/
	.cooked iframe:first-child {
		margin-top: 1em;
	}
	.cooked div.lazyYT:first-child {
		margin-top: 1em;
	}

	/*embedded posts (replies,replies to) aren't being "cooked"*/
	/*.embedded-posts .reply .topic-body p img:not(.avatar) {
		margin-top: 1em;
		margin-bottom: 1em;
	}*/
	.embedded-posts .reply .topic-body a:nth-child(2) img:not(.avatar) {
		margin-top: 1em;
	}
	.embedded-posts .reply .topic-body iframe:nth-child(2) {
		margin-top: 1em;
	}
	/*fix img and iframe spacing end*/

	#poster-expansion {
		margin-top: 25px;		/*move bio down*/
		box-shadow: 2px 2px 10px #9e9e9e;		/*darker shadow - needs some work*/
	}

	/*speculating avatar fix - both resize to 20x20*/
	/*https://github.com/vikhyat/discourse-hummingbird/blob/master/assets/javascripts/custom_avatar.js*/
	.quote .title .avatar {		/*broken*/
		/*http://static.hummingbird.me/users/avatars/000/033/573/40/6dzUBBp.gif?1403876230*/
		/*requests 40x40*/
	}
	.reply-to-tab .avatar {		/*proper*/
		/*http://static.hummingbird.me/users/avatars/000/033/573/small/6dzUBBp.jpg?1403876230*/
		/*gives 50x50*/
	}

	a.mention {
		background: none !important;		/*removes weird highlight on mention*/
		color: #EC8661;			/*use default link colour*/
	}
	.meta {
		font-size: 12px;
	}
	.meta .informations {
		color: #FFF;		/*use default colour*/
		font-size: 12px;
		margin: 5px;
	}
	.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
		width: auto;		/*reduce image preview close hitbox*/
	}
	.mfp-close {
		width: auto;
		height: auto;
	}
	#post-cloak-1 #post_1 .topic-avatar {
		border-top: none;		/*removes divider on first post*/
	}
	#post-cloak-1 #post_1 .topic-body {
		border-top: none;		/*same as above*/
	}
	/*css "hacks" to remove dotted outline*/
	a, video, audio {
		outline: 0;		/*remove outline on links, videos, and audio*/
	}
	input::-moz-focus-inner { 
		border: 0;		/*remove image outline (firefox only)*/
	}
	.wmd-button {
		font-family: FontAwesome !important;		/*custom font was breaking it*/
	}
	.control-group.pref-avatar {
		display: none;		/*hide broken edit avatar button*/
	}
	.control-group.pref-password {
		display: none;		/*hide broken edit password button*/
	}
	#notifications-dropdown.d-dropdown li a:hover {
		background-color: transparent !important;
	}
	.hb-nav .nav > li > .dropdown-menu {
		border-bottom-left-radius: 0px;		/*square corners on navbar*/
		border-bottom-right-radius: 0px;
	}
	.nav-stacked .active > a,
	.nav-stacked .active .fa-chevron-right {
		background-color: #F89774;		/*change active tab colour*/
	}
	.user-preferences #pagedown-editor {
		width: auto;		/*widen bio editor*/
	}
	body #pagedown-editor {
		width: auto;		/*same as above*/
		border: none;		/*remove useless border*/
		padding: unset;		/*remove left side offset*/
	}
	/*tweaks for profile sidebar colouring*/
	.nav-stacked > li > a:hover {
		background-color: #AAAAAA;
		color: #FFF;
	}
	.nav-stacked > li > a:hover,
	.nav-stacked > li > a:hover .fa-chevron-right {
		background-color: #AAAAAA;
		color: #FFF;
	}
	.nav-stacked .active > a:hover,
	.nav-stacked .active > a:hover .fa-chevron-right {
	    color: #FFF;
	    background-color: #F89774;
	}
	.btn-danger {
		background-color: #F89774;
	}
	.btn-danger:hover {
		background-color: #F67A4D;
	}
	.user-cover {
		background-size: cover;		/*fixes cover placeholder positioning*/
	}
}
/*Applies only to the main HB site*/
@-moz-document url-prefix(http://hummingbird.me/) {
	/*Lato 1.0 hosted by Google*/
	/*@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
	}*/
	/*Lato 2.0*/
	/*
	Lato Regular: http://a.pomf.se/qhucai.woff
	LatoLatin Regular: http://a.pomf.se/xbxtfs.woff
	Lato Light: http://a.pomf.se/afguth.woff
	*/
	@font-face {
		font-family: 'Lato';
		font-style: normal;
		font-weight: 400;
		src: local('Lato Regular'), local('Lato-Regular'), url(http://a.pomf.se/qhucai.woff) format('woff');
		text-rendering: optimizeLegibility !important;
	}
	html, body {
		font-family: 'Lato' !important;
		background-color: #E0E0E0 !important;	/*slightly darker grey*/
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: 'Lato' !important;
	}
	.update-panel li a.remove-post {
		color: #999999 !important;		/*make remove post have a muted colour*/
	}
	.update-panel li a.remove-post:hover {
		color: #EC8661 !important;		/*hover makes it orange again*/
	}
	.hb-nav .searchbar .search-field {
		margin-left: 20px;		/*on hover the shadow covers more to the left*/
		border: none;		/*removes odd underline*/
	}
	.quick-update .watched-series .overlay-panel {
		transition: opacity 0.1s linear 0s;		/*speed up transition to reduce glitches*/
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));	/*adjust gradient*/
	}
	.quick-update .series-title {
		white-space: normal;		/*wrap titles instead*/
	}
	.quick-update .series-slider .fa-angle-left {
		left: -30px;
	}
	.quick-update .series-slider .fa-angle-right {
		right: -30px;
	}
	.quick-update .series-slider .arrow-nav {
		color: transparent;		/*hide nav arrows*/
	}
	.quick-update .series-slider .arrow-nav.inactive {
		color: transparent;		/*hide inactive nav arrows*/
	}
	.quick-update .series-slider .arrow-nav:hover {
		transition: opacity 0.1s linear 0s;		/*fast transition*/	
	}
	.responsive-image {
		border-radius: 4px;
	}
	.genre-tab .badge {
		font-family: 'Lato';
	}
	.top-buttons .top-button {
		font-family: 'Lato';
	}
	.hb-nav .dropdown {
		font-family: 'Lato';
	}
	#recent-toggle {
		font-family: 'Lato';
	}
	.dropdown-menu {
		min-width: initial;		/*tweaks anime/manga library dropdown*/
		margin: initial;
	}
	.panel-divider {
		font-family: 'Lato';
	}
	.library-filter {
		font-family: 'Lato';
	}
	.library-dropdown .personal-notes {
		height: auto;
		resize: vertical;		/*might be useful for long notes*/
	}
	.library-search {
		height: auto;		/*makes library search bar thinner*/
		font-family: 'Lato';
	}
	.profile-navigation .inline-list .nav-link a:before,
	.profile-navigation .update-panel .genre-list .nav-link a:before,
	.update-panel .profile-navigation .genre-list .nav-link a:before {
		content: unset;			/*removes broken hover effect*/
		transition: max-width 0.3s ease 0s;			/*faster hover transition*/
	}
	.profile-navigation .inline-list .nav-link .active,
	.profile-navigation .update-panel .genre-list .nav-link .active,
	.update-panel .profile-navigation .genre-list .nav-link .active {
		border-bottom: 1px solid #EC8661;		/*adds small border to active tab*/
	}
	.profile-navigation .inline-list .nav-link > a,
	.profile-navigation .update-panel .genre-list .nav-link > a,
	.update-panel .profile-navigation .genre-list .nav-link > a {
		padding: 11px 20px;			/*fixes tab padding*/
		font-family: 'Lato';
	}
	.anime-breakdown-panel .breakdown-genrelist li span {
		font-family: 'Lato';
	}
	.user-cover .cover-overlay {
		/*background: none;*/	/*todo: use css gradient instead of img overlay*/
	}
	a:focus {
		text-decoration: none !important;	/*finally fixes weird underline on profile nav*/
	}
	.review-content .youtube-frame .youtube-background {
		background: none;		/*remove dark frame around video review*/
	}
	.review-content .youtube-frame iframe {
		max-width: initial;		/*unset width*/
		border-radius: initial;
		border: none;		/*remove border*/
	}
	.actor:before {
		content: unset;		/*remove dots in VA section*/
	}
	.review-listing .reviewer-name .subtext {
		display: none;		/*remove "review by" text*/
	}
	.social-buttons .twitter-share-button {
		margin-bottom: -6px;		/*centers button on anime pages*/
	}
	.review-breakdown {
		margin-bottom: 15px;		/*adds some whitespace to bottom of review*/
	}
	.review-content {
		font-size: initial;			/*uses default size in reviews*/
	}
	.back-to-anime {
		left: -15px;		/*moves link to the left*/
	}
	.bg-image-wrapper.series {
		opacity: 0.2;		/*made it slightly more visible*/
		background-position: 50% 0px !important;	/*custom offset breaks fade effect*/
		margin-top: 0px;	/*remove default offset*/
	}
	.wrapper-fade {
		background: none;
		/*uses gradient instead of an img so colour can be changed easily*/
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(224,224,224,1) 100%);
		top: 400px;		/*adjust gradient position*/

		/*bigger fade*/
		/*height: 300px;
		top: 300px;*/

		/*even bigger fade*/
		/*height: 400px;
		top: 200px;*/
	}
	.series-description {
		font-size: initial;		/*description size made smaller*/
	}
	/*series of adjustments to trailer modal*/
	/*breaks edit modal - eventually needs its own class*/
	.modal-dialog {
		margin: 10% auto;
	}
	.modal-content {
		border-radius: 3px;
		background-color: rgba(0, 0, 0, 0.2);
		border: none;
		box-shadow: none;
	}
	/*yt trailer url should start with "//www." so http or https can be used*/
	/*yt urls should also be appended with "?autoplay=1"*/
	.modal-body {
		padding: 5px 5px 0px 5px;
	}
	.modal-body iframe {
		width: 100%;
	}
	.trailer img {
		/*youtube thumb should use mqdefault.jpg (has no black bars)*/
	}
	.trailer .play-icon {
		/*top: 45px;*/	/*estimated offset*/
	}
	/*attempt to format franchise*/
	/*
	.rounded-block .franchise-show div:nth-child(2) .series-title h4 {
		border-bottom: none !important;
		margin-top: auto !important;
		margin-bottom: auto !important;
		padding-bottom: 2px !important;
	}
	.rounded-block .franchise-show div:nth-child(2) .series-metadata ul {
		font-size: 13px !important;
	}
	.rounded-block .franchise-show div:nth-child(2) div:first-of-type {
		font-size: 14px !important;
	}
	*/
	.franchise-show {
		padding-left: initial;		/*removes unnecessary padding*/
		padding-right: initial;
	}
	.tab-pane .rounded-block {
		border: none;	/*removes divider*/
	}
	.tab-pane .rounded-block:hover {
		border: none;
	}
	.hb-nav .notification-dropdown .user-info small {
		font-family: 'Lato';
	}
	.upload-cover {
		font-family: 'Lato';
		font-size: 12px !important;
	}
	.user-cover-options .upload-cover:hover {
		color: #F89774;		/*add hover colour for 'upload cover' button*/
		border-color: #F89774;
	}
	a {
		transition: none;	/*link transition feels laggy*/
	}
	/*series of notification tweaks*/
	.hb-nav .user-area .dropdown-menu li a:hover {
		color: #EC8661 !important;
	}
	.hb-nav .notification-dropdown li a:hover {
		color: inherit !important;
		background-color: #F5F5F5;
	}
	.hb-nav .notification-dropdown li:last-child a {
		background-color: initial;
	}
	.hb-nav .notification-dropdown li:last-child a:hover {
		color: #EC8661 !important;
		background-color: initial;
	}
	.hummingbird-header-1 .notification-block .single-notification {
		font-family: 'Lato';
	}
	/*
	follow 			#F89774
	follow hover 	#F67A4D
	unfollow 		#999999
	unfollow hover 	#737373
	*/
	.library-table {
		width: 100%;
		/*a horizontal ad should be placed on top instead*/
	}
	/*library needs a 'collapse all' feature*/
	#library-sections {
		padding-bottom: 0px;		/*removes space at bottom*/
	}
	.profile-navigation {
		margin-bottom: 0px;
	}
	.min-height-wrapper div.container:nth-child(4) {
		padding-bottom: 30px;		/*adds some space to follow pages*/
	}

	/*transparent test start*/
	.series-panel {
		background-color: rgba(255,255,255,0.2);
	}
	.series-content {
		min-height: initial;
		background-color: rgba(255,255,255,0.4);
	}
	.review-listing .review {
		background-color: transparent;
	}
	.nav-tabs > li.active > a,
	.nav-tabs > li.active > a:hover,
	.nav-tabs > li.active > a:focus {
		background-color: transparent;
	}
	.casting .character {
		background-color: transparent;
	}
	.casting .voice-actor {
		background-color: transparent;
	}
	.info-tabs .dropdown-menu {
		background-color: rgba(255,255,255,0.6);
	}
	/*transparency test end*/

	/*removes quick update bg colour*/
	.quick-update {
		/*background: none;*/
	}
	/*use full screen width*/
	/*.container, .profile-content, .user-dashboard, .library-container {
	    width: 100%;
	}*/

	.update-loading {
		/*height needs to be adjusted on placeholder*/
		/*background-color: #BDBDBD !important;
		color: #FFFFFF !important;*/

		/*only works on my resolution - should be fixed soon*/
		/*height: 1462.3% !important;
		line-height: 1462.3% !important;*/
	}

	/*tweaks for forum widgets*/
	.community-widget-panel .panel-body .latest-post-list .latest-post:hover,
	.community-widget-panel .update-panel .latest-post-list .latest-post:hover {
		background-color: #FAFAFA;
	}
	.community-widget-panel .panel-body .latest-post-list .latest-post-title a:hover,
	.community-widget-panel .update-panel .latest-post-list .latest-post-title a:hover {
		color: #424242;
	}

	/*temporary stretch fix*/
	.user-cover {
		/*height: 304px;*/
		/*height: 28em;*/
	}

	.info-tabs {
		padding-left: 0px;		/*remove padding on anime info container*/
		padding-right: 0px;
	}
	.review-listing {
		padding-left: 0px;		/*same as above for reviews container*/
		padding-right: 0px;
	}

	/*a test for colouring likes and dislikes on reviews*/
	.reader-actions .reader-vote .recommend a.active,
	.reader-actions .reader-vote .recommend a:hover {
		color: #2baf2b;
		border-color: #2baf2b;
	}
	.reader-actions .reader-vote .dislike a.active,
	.reader-actions .reader-vote .dislike a:hover {
		color: #e84e40;
		border-color: #e84e40;
	}

	.follow-button {
		background-color: #F89774 !important;		/*fix follow button on reviews*/
		color: #FFF !important;
		font-family: 'Lato';
	}
	.follow-button:hover {
		background-color: #F67A4D !important;		/*same as above*/
	}
	.series-content .btn-primary {
		background-color: #F89774;		/*change colour of "Create review" button*/
		border: none;
	}
	.series-content .btn-primary:hover {
		background-color: #F67A4D;		/*same as above*/
		border: none;
	}
	.review-breakdown .score-block .score,
	.review-breakdown .score-block .decimal-score {
		text-shadow: 2px 4px 6px #A94831;		/*replaces weird shadow on review scores*/
	}

	/*permanent fix*/
	/*.user-cover {
		height: auto;
	}
	.user-cover .cover-photo {
		width: 100%;
	}*/
}