@-moz-document regexp("https?://forums.hummingbird.me/.*") {
    body {
        background: url(https://i.imgur.com/bQbEq1R.png) repeat-y center center #E0E0E0;
        background-size: contain;
    }
}
@-moz-document regexp("https?://hummingbird.me/.*") {
    .footer-shadow {
        background: url(https://i.imgur.com/bQbEq1R.png) repeat-y center center #E0E0E0;
        background-size: contain;
    }
}