@-moz-document url-prefix(http://myanimelist.net/404.php?) {
	/*[[font-format]]*/
	body {
		font-family: 'Lato', 'Segoe UI Semibold', 'Helvetica Neue', 'Open Sans Semibold', sans-serif !important;
		text-rendering: optimizeLegibility !important;
		text-align: center !important;
	}
}
@-moz-document url-prefix(http://hummingbird.me/), url-prefix(https://hummingbird.me/) {
	.hb-score iframe {
		height: 3em !important;
		width: 100% !important;
	}
	.hb-score {
		margin-bottom: 0;
	}
	.hb-score h3 {
		margin-bottom: 0;
	}
}